


#container{
    position: relative;
    height: 500px;
    padding: 10px;
    background-color: purple;

}

#conteudo {
    position: absolute;

    height: 50%;
    width: 90%;
    background-color: yellow;

    top:50%;
    left: 50%;

    transform: translate(-50%, -50%);

}